@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&family=Space+Mono:wght@400;700&display=swap');


@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --font-plex: "IBM Plex Mono", monospace;
  --font-space: "Space Mono", monospace;

  /* Connect your CSS variables to Tailwind */
  --color-bg-dark: var(--bg-dark);
  --color-bg: var(--bg);
  --color-bg-light: var(--bg-light);

  --color-text: var(--text);
  --color-text-muted: var(--text-muted);

  --color-highlight: var(--highlight);
  --color-border: var(--border);
  --color-border-muted: var(--border-muted);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --color-danger: var(--danger);
  --color-warning: var(--warning);
  --color-success: var(--success);
  --color-info: var(--info);
}

/* LIGHT THEME */
:root {
  --bg-dark: oklch(0.92 0.065 300);
  --bg: oklch(0.96 0.065 300);
  --bg-light: oklch(1 0.065 300);
  --text: oklch(0.15 0.13 300);
  --text-muted: oklch(0.4 0.13 300);
  --highlight: oklch(1 0.13 300);
  --border: oklch(0.6 0.13 300);
  --border-muted: oklch(0.7 0.13 300);
  --primary: oklch(0.4 0.13 300);
  --secondary: oklch(0.4 0.13 120);
  --danger: oklch(0.5 0.13 30);
  --warning: oklch(0.5 0.13 100);
  --success: oklch(0.5 0.13 160);
  --info: oklch(0.5 0.13 260);
}

/* DARK THEME */
:root.dark {
  --bg-dark: oklch(0.1 0.065 300);
  --bg: oklch(0.15 0.065 300);
  --bg-light: oklch(0.2 0.065 300);
  --text: oklch(0.96 0.1 300);
  --text-muted: oklch(0.76 0.1 300);
  --highlight: oklch(0.5 0.13 300);
  --border: oklch(0.4 0.13 300);
  --border-muted: oklch(0.3 0.13 300);
  --primary: oklch(0.76 0.13 300);
  --secondary: oklch(0.76 0.13 120);
  --danger: oklch(0.7 0.13 30);
  --warning: oklch(0.7 0.13 100);
  --success: oklch(0.7 0.13 160);
  --info: oklch(0.7 0.13 260);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-plex);
  background-color: var(--bg);
  color: var(--text);
}

@layer utilities {

  @keyframes blink {
    0%{
      opacity: 1;
    }

    50%{
      opacity: 0;
    }

  }

  .animate-blink{
    animation: blink 0.8s step-end infinite;
  }

  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100%{
      transform: translateX(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
}